Repository rokwire/rokwire-building-blocks-api, changes with the owners that CODEOWNERS names for each.
All owners: @sandeep-ps, @wenjzhu, @ywkim312, @bingzhang

Update Dockerfile
  Dockerfile
Owners: @sandeep-ps

Fix merge conflict.
  contributions/catalog/requirements.txt
Owners: @wenjzhu

Master to develop after 1.10.0 (#715)
  CHANGELOG.md
  appconfigservice/appconfig.yaml
  authservice/auth.yaml
  contributions/contribution.yaml
  eventservice/events.yaml
  loggingservice/logging.yaml
  profileservice/profile.yaml
Owners: @sandeep-ps, @wenjzhu, @ywkim312, @bingzhang

saving purpose
  contributions/catalog/controllers/contribute.py
  contributions/catalog/utils/mongoutils.py
Owners: @wenjzhu

add group authorization get image by eventid
  CHANGELOG.md
  eventservice/api/controllers/events.py
  eventservice/api/utils/group_auth.py
Owners: @sandeep-ps, @bingzhang

add group authorization get image by eventid
  eventservice/api/controllers/events.py
Owners: @bingzhang

added reviewer filtering option
  contributions/api/controllers/contributions.py
  contributions/catalog/controllers/config.py
  contributions/catalog/controllers/contribute.py
  contributions/catalog/utils/adminutil.py
  contributions/catalog/utils/jsonutil.py
  contributions/catalog/utils/mongoutil.py
  contributions/catalog/utils/mongoutils.py
  contributions/catalog/webapps/templates/contribute/capability_details.html
  contributions/catalog/webapps/templates/contribute/talent_details.html
Owners: @ywkim312, @wenjzhu

modified changelog
  CHANGELOG.md
Owners: @sandeep-ps

add group authorization get image by eventid (#717)
  CHANGELOG.md
  eventservice/api/controllers/events.py
  eventservice/api/utils/group_auth.py
Owners: @sandeep-ps, @bingzhang

add group authorization to GET/events/{event_id}/images/{image_id} endpoint
  CHANGELOG.md
  eventservice/api/controllers/events.py
Owners: @sandeep-ps, @bingzhang

add group authorization to PUT/events/{event_id}/images/{image_id} endpoint
  CHANGELOG.md
  eventservice/api/controllers/events.py
Owners: @sandeep-ps, @bingzhang

add group authorization to DELETE /events/{event_id}/images/{image_id} endpoint
  CHANGELOG.md
  eventservice/api/controllers/events.py
Owners: @sandeep-ps, @bingzhang

add group authorization to GET/events/{event_id}/images/{image_id} endpoint (#722)
  CHANGELOG.md
  eventservice/api/controllers/events.py
Owners: @sandeep-ps, @bingzhang

add group authorization to PUT/events/{event_id}/images/{image_id} endpoint (#723)
  CHANGELOG.md
  eventservice/api/controllers/events.py
Owners: @sandeep-ps, @bingzhang

add group authorization to DELETE /events/{event_id}/images/{image_id} endpoint (#724)
  CHANGELOG.md
  eventservice/api/controllers/events.py
Owners: @sandeep-ps, @bingzhang

removed direct access to database
  contributions/catalog/controllers/config.py
  contributions/catalog/controllers/contribute.py
  contributions/catalog/utils/adminutil.py
  contributions/catalog/utils/mongoutil.py
  contributions/catalog/utils/requestutil.py
Owners: @wenjzhu

removed test comments
  contributions/catalog/utils/adminutil.py
Owners: @wenjzhu

revieved changes in contribut.py and adminutil.py
  contributions/catalog/controllers/contribute.py
  contributions/catalog/utils/adminutil.py
Owners: @wenjzhu

removed unnecessary variables from config.py
  contributions/catalog/controllers/config.py
  contributions/catalog/utils/adminutil.py
Owners: @wenjzhu

made post to make an error instead of ignoring
  contributions/catalog/controllers/contribute.py
  contributions/catalog/webapps/templates/contribute/contribute.html
Owners: @wenjzhu

added changelog
  CHANGELOG.md
Owners: @sandeep-ps

modified changelog
  CHANGELOG.md
  contributions/catalog/controllers/contribute.py
  contributions/catalog/utils/jsonutil.py
Owners: @sandeep-ps, @wenjzhu

make pages to show all items if the user is contribution admin
  CHANGELOG.md
  contributions/catalog/controllers/contribute.py
  contributions/catalog/utils/jsonutil.py
Owners: @sandeep-ps, @wenjzhu

added comment
  contributions/catalog/controllers/contribute.py
Owners: @wenjzhu

added contribution admin to endpoint
  contributions/api/controllers/contributions.py
  contributions/api/utils/mongoutils.py
  contributions/catalog/controllers/contribute.py
  contributions/contribution.yaml
Owners: @ywkim312, @wenjzhu

added contributionAdmins for capability and talent detail endpoint
  CHANGELOG.md
  contributions/catalog/controllers/contribute.py
  contributions/catalog/webapps/templates/contribute/contribution_details.html
Owners: @sandeep-ps, @wenjzhu

put the test back to original
  CHANGELOG.md
Owners: @sandeep-ps

put the changes back to original
  CHANGELOG.md
  contributions/api/controllers/configs.py
  contributions/catalog/controllers/config.py
Owners: @sandeep-ps, @ywkim312, @wenjzhu

fixed config
  contributions/api/controllers/configs.py
  contributions/catalog/controllers/config.py
Owners: @ywkim312, @wenjzhu

Task/703 capability display with decoded json (#721)
  CHANGELOG.md
  contributions/api/controllers/configs.py
  contributions/api/controllers/contributions.py
  contributions/catalog/__init__.py
  contributions/catalog/controllers/__init__.py
  contributions/catalog/controllers/auth.py
  contributions/catalog/controllers/config.py
  contributions/catalog/controllers/contribute.py
  contributions/catalog/models/__init__.py
  contributions/catalog/models/capability_utilities.py
  contributions/catalog/models/contribution_utilities.py
  contributions/catalog/models/talent_utilities.py
  contributions/catalog/utils/adminutil.py
  contributions/catalog/utils/jsonutil.py
  contributions/catalog/utils/requestutil.py
  contributions/catalog/webapps/templates/contribute/capability_details.html
  contributions/catalog/webapps/templates/contribute/talent_details.html
Owners: @sandeep-ps, @ywkim312, @wenjzhu

Update baseline.
  .secrets.baseline
Owners: @sandeep-ps

refactor or search
  eventservice/api/utils/query_params.py
Owners: @bingzhang

refactor or search
  eventservice/api/utils/query_params.py
Owners: @bingzhang

Fix query.
  eventservice/api/utils/query_params.py
Owners: @bingzhang

changelog
  CHANGELOG.md
Owners: @sandeep-ps

732 fix title search with private userkey (#734)
  CHANGELOG.md
  eventservice/api/utils/query_params.py
Owners: @sandeep-ps, @bingzhang

Update CHANGELOG.md
  CHANGELOG.md
Owners: @sandeep-ps

Update CHANGELOG.md
  CHANGELOG.md
Owners: @sandeep-ps

Update version numbers in OpenAPI specification.
  appconfigservice/appconfig.yaml
  authservice/auth.yaml
  contributions/contribution.yaml
  eventservice/events.yaml
  loggingservice/logging.yaml
  profileservice/profile.yaml
Owners: @wenjzhu, @ywkim312, @bingzhang

error message shortend
  contributions/catalog/controllers/contribute.py
Owners: @wenjzhu

CODEOWNERS:

# Default assignment
*   @sandeep-ps

# App Config Building Block
/appconfigservice/  @wenjzhu

# Authentication Building Block
/authservice/  @wenjzhu

# Authentication Middleware Library
/lib/auth-middleware/   @ywkim312

# API Doc
/Dockerfile @sandeep-ps
/README @sandeep-ps

# Events Building Block
/eventservice/  @bingzhang

# Logging Building Block
/loggingservice/    @ywkim312

# Profile Building Block
/profileservice/    @ywkim312

# Contributions Building Block
/contributions/*    @ywkim312
/contributions/api/    @ywkim312

# Contributions Catalog
/contributions/catalog/    @wenjzhu
