Repository rokwire/rokwire-building-blocks-api, changes with the owners that CODEOWNERS names for each.
All owners: @sandeep-ps, @wenjzhu, @ywkim312, @bingzhang

CODEOWNERS:

# Default assignment
*   @sandeep-ps

# App Config Building Block
/appconfigservice/  @wenjzhu

# Authentication Building Block
/authservice/  @wenjzhu

# Authentication Middleware Library
/lib/auth-middleware/   @ywkim312

# API Doc
/Dockerfile @sandeep-ps
/README @sandeep-ps

# Events Building Block
/eventservice/  @bingzhang

# Logging Building Block
/loggingservice/    @ywkim312

# Profile Building Block
/profileservice/    @ywkim312

# Contributions Building Block
/contributions/*    @ywkim312
/contributions/api/    @ywkim312

# Contributions Catalog
/contributions/catalog/    @wenjzhu

core search by phone
  profileservice/api/controllers/profiles.py
  profileservice/profile.yaml
Owners: @ywkim312

added cfg.GITTAG for footer dockerfile
  contributions/catalog/controllers/contribute.py
Owners: @wenjzhu

added dockerfile env variable gittag
  contributions/catalog/catalog_rest_service.py
Owners: @wenjzhu

updated to get gittag and git repo
  contributions/catalog/Dockerfile
Owners: @wenjzhu

updated to get git repo and git tag env variable
  contributions/Dockerfile
Owners: @ywkim312

updated error msg, changelog, and readme
  CHANGELOG.md
  profileservice/README.md
  profileservice/api/controllers/profiles.py
Owners: @sandeep-ps, @ywkim312

Update readme
  lib/auth-middleware/auth_middleware/__init__.py
  lib/auth-middleware/readme.md
  profileservice/profile.yaml
Owners: @ywkim312

Undo formatting on yaml
  profileservice/profile.yaml
Owners: @ywkim312

modified based on sep 30th metting
  contributions/api/models/capabilities/capability.py
  contributions/api/models/contact.py
  contributions/api/models/contribution.py
  contributions/api/utils/datasetutils.py
  contributions/api/utils/modelutils.py
  contributions/catalog/controllers/contribute.py
  contributions/catalog/models/capability_utilities.py
  contributions/catalog/models/contribution_utilities.py
  contributions/catalog/models/talent_utilities.py
  contributions/catalog/webapps/templates/contribute/contribute.html
  contributions/contribution.yaml
Owners: @ywkim312, @wenjzhu

fixed error logging, added env var to readme
  profileservice/README.md
  profileservice/api/controllers/profiles.py
Owners: @ywkim312

remove env var from readme
  profileservice/README.md
Owners: @ywkim312

Update readme and changelog
  CHANGELOG.md
  lib/auth-middleware/readme.md
Owners: @sandeep-ps, @ywkim312

Simple refactor to implement base html
  contributions/Dockerfile
  contributions/catalog/Dockerfile
  contributions/catalog/webapps/templates/base.html
  contributions/catalog/webapps/templates/contribute/home.html
Owners: @ywkim312, @wenjzhu

added release
  contributions/catalog/Dockerfile
  contributions/catalog/catalog_rest_service.py
  contributions/catalog/controllers/config.py
  contributions/catalog/controllers/contribute.py
Owners: @wenjzhu

changes to extend base
  contributions/catalog/webapps/templates/base.html
  contributions/catalog/webapps/templates/contribute/home.html
Owners: @wenjzhu

Fix changelog
  CHANGELOG.md
Owners: @sandeep-ps

updated changelog, documentation
  CHANGELOG.md
  profileservice/profile.yaml
Owners: @sandeep-ps, @ywkim312

Add a wrapper for user auth and core token auth
  contributions/contribution.yaml
  eventservice/events.yaml
  lib/auth-middleware/auth_middleware/__init__.py
Owners: @ywkim312, @bingzhang

remove anonymous token auth from contributions
  contributions/contribution.yaml
Owners: @ywkim312

remove anonymous token auth from contributions
  contributions/contribution.yaml
Owners: @ywkim312

Add back anonymous check for userAuth
  lib/auth-middleware/auth_middleware/__init__.py
Owners: @ywkim312

changes to cssstyle and home
  contributions/catalog/webapps/static/css/centerwebsite.css
  contributions/catalog/webapps/templates/base.html
  contributions/catalog/webapps/templates/contribute/home.html
Owners: @wenjzhu

Add check for shib tokens
  lib/auth-middleware/auth_middleware/__init__.py
Owners: @ywkim312

Flip check
  lib/auth-middleware/auth_middleware/__init__.py
Owners: @ywkim312

Flip check
  lib/auth-middleware/auth_middleware/__init__.py
Owners: @ywkim312

Parse uin from core tokens
  eventservice/api/controllers/configs.py
  eventservice/api/utils/group_auth.py
Owners: @bingzhang

Remove logs
  contributions/contribution.yaml
  eventservice/api/controllers/events.py
  eventservice/api/utils/group_auth.py
Owners: @ywkim312, @bingzhang

Restore format
  eventservice/api/controllers/events.py
Owners: @bingzhang

update connexion dependency
  appconfigservice/requirements.txt
  auth-middleware-test-svc/requirements.txt
  authservice/requirements.txt
  contributions/requirements.txt
  eventservice/requirements.txt
  loggingservice/requirements.txt
  profileservice/requirements.txt
Owners: @wenjzhu, @sandeep-ps, @ywkim312, @bingzhang

Restore userauth
  appconfigservice/appconfig.yaml
  eventservice/events.yaml
  lib/auth-middleware/auth_middleware/__init__.py
  loggingservice/logging.yaml
Owners: @wenjzhu, @bingzhang, @ywkim312

Take out unused env var
  lib/auth-middleware/auth_middleware/__init__.py
Owners: @ywkim312

Update groups bb
  eventservice/api/controllers/configs.py
  eventservice/api/utils/group_auth.py
  eventservice/events.yaml
  lib/auth-middleware/auth_middleware/__init__.py
Owners: @bingzhang, @ywkim312

Add back coreuserauth
  eventservice/events.yaml
Owners: @bingzhang

changes to base html
  contributions/catalog/webapps/templates/base.html
Owners: @wenjzhu

Changes in base html
  contributions/catalog/webapps/templates/base.html
Owners: @wenjzhu

update core bb api key name and readme
  profileservice/README.md
  profileservice/api/controllers/configs.py
  profileservice/api/controllers/profiles.py
  profileservice/profile.yaml
Owners: @ywkim312

[ID-809] [FEATURE] Core BB profile migration (#811)
  CHANGELOG.md
  profileservice/README.md
  profileservice/api/controllers/configs.py
  profileservice/api/controllers/profiles.py
  profileservice/api/models/pii_data.py
  profileservice/api/utils/datasetutils.py
  profileservice/api/utils/jsonutils.py
  profileservice/api/utils/mongoutils.py
  profileservice/profile.yaml
Owners: @sandeep-ps, @ywkim312

Update rokwire auth host
  eventservice/api/controllers/configs.py
Owners: @bingzhang

Fix id token parsing in anonymous token
  lib/auth-middleware/auth_middleware/__init__.py
Owners: @ywkim312

Fix id token assignment
  eventservice/api/utils/group_auth.py
Owners: @bingzhang
