Repository rokwire/rokwire-building-blocks-api, changes with the owners that CODEOWNERS names for each.
All owners: @sandeep-ps, @wenjzhu, @ywkim312, @bingzhang

CODEOWNERS:

# Default assignment
*   @sandeep-ps

# App Config Building Block
/appconfigservice/  @wenjzhu

# Authentication Building Block
/authservice/  @wenjzhu

# Authentication Middleware Library
/lib/auth-middleware/   @ywkim312

# API Doc
/Dockerfile @sandeep-ps
/README @sandeep-ps

# Events Building Block
/eventservice/  @bingzhang

# Logging Building Block
/loggingservice/    @ywkim312

# Profile Building Block
/profileservice/    @ywkim312

# Contributions Building Block
/contributions/*    @ywkim312
/contributions/api/    @ywkim312

# Contributions Catalog
/contributions/catalog/    @wenjzhu

Fix CHANGELOG.
  CHANGELOG.md
Owners: @sandeep-ps

Fix CHANGELOG.
  CHANGELOG.md
Owners: @sandeep-ps

Update version numbers in SECURITY.md
  SECURITY.md
Owners: @sandeep-ps

Fix merge conflicts.
  eventservice/api/controllers/events.py
Owners: @bingzhang

Update CHANGELOG.md
  CHANGELOG.md
Owners: @sandeep-ps

Update Dockerfile
  Dockerfile
Owners: @sandeep-ps

Update CHANGELOG.md
  CHANGELOG.md
Owners: @sandeep-ps

Master to develop after 1.12.0 (#835)
  CHANGELOG.md
  SECURITY.md
  appconfigservice/appconfig.yaml
  authservice/auth.yaml
  contributions/contribution.yaml
  eventservice/events.yaml
  loggingservice/logging.yaml
  profileservice/profile.yaml
Owners: @sandeep-ps, @wenjzhu, @ywkim312, @bingzhang

Update login callback URL. (#821)
  CHANGELOG.md
  contributions/catalog/catalog_rest_service.py
Owners: @sandeep-ps, @wenjzhu

changed string comparison to constant time comparison
  CHANGELOG.md
  lib/auth-middleware/auth_middleware/__init__.py
Owners: @sandeep-ps, @ywkim312

modified changelog
  CHANGELOG.md
  Dockerfile
Owners: @sandeep-ps

Fixed chagelog
  CHANGELOG.md
Owners: @sandeep-ps

Removed unnecessary space from yaml files
  CHANGELOG.md
  appconfigservice/appconfig.yaml
  authservice/auth.yaml
  contributions/contribution.yaml
  eventservice/events.yaml
  loggingservice/logging.yaml
  profileservice/profile.yaml
Owners: @sandeep-ps, @wenjzhu, @ywkim312, @bingzhang

removed unused methods
  CHANGELOG.md
  contributions/api/utils/tokenutils.py
  profileservice/api/utils/tokenutils.py
Owners: @sandeep-ps, @ywkim312

modified changelog
  CHANGELOG.md
  contributions/catalog/controllers/contribute.py
  contributions/catalog/models/contribution_utilities.py
  contributions/catalog/models/talent_utilities.py
Owners: @sandeep-ps, @wenjzhu

modified changelog
  CHANGELOG.md
Owners: @sandeep-ps

777 catalog should redirect to contribution details after post (#807)
  CHANGELOG.md
  contributions/catalog/controllers/contribute.py
  contributions/catalog/models/contribution_utilities.py
  contributions/catalog/models/talent_utilities.py
  contributions/catalog/webapps/templates/contribute/error.html
Owners: @sandeep-ps, @wenjzhu

825 change string comparisons to constant time comparisons in auth middleware library (#836)
  CHANGELOG.md
  lib/auth-middleware/auth_middleware/__init__.py
Owners: @sandeep-ps, @ywkim312

modified changelog
  CHANGELOG.md
Owners: @sandeep-ps

added error message for 500 to logger
  CHANGELOG.md
  eventservice/api/controllers/configs.py
  eventservice/api/controllers/events.py
Owners: @sandeep-ps, @bingzhang

Add new variable for conflicting audience
  lib/auth-middleware/auth_middleware/__init__.py
  lib/auth-middleware/readme.md
Owners: @ywkim312

Update changelog
  CHANGELOG.md
Owners: @sandeep-ps

update changelog
  CHANGELOG.md
Owners: @sandeep-ps

[BUG] ROKWIRE_API_CLIENT_ID environment variable naming conflict (#843)
  CHANGELOG.md
  lib/auth-middleware/auth_middleware/__init__.py
  lib/auth-middleware/readme.md
Owners: @sandeep-ps, @ywkim312

Update CHANGELOG.
  CHANGELOG.md
Owners: @sandeep-ps

Update Dockerfile.
  Dockerfile
Owners: @sandeep-ps

Update version number in API spec files.
  appconfigservice/appconfig.yaml
  authservice/auth.yaml
  contributions/contribution.yaml
  eventservice/events.yaml
  loggingservice/logging.yaml
  profileservice/profile.yaml
Owners: @wenjzhu, @ywkim312, @bingzhang

Updater version in SECURITY.md
  SECURITY.md
Owners: @sandeep-ps

Update Dockerfile.
  Dockerfile
Owners: @sandeep-ps

made error message as constant
  eventservice/api/controllers/configs.py
  eventservice/api/controllers/events.py
  eventservice/api/controllers/messages.py
Owners: @bingzhang

Merge to develop after 1.12.1 (#848)
  CHANGELOG.md
  SECURITY.md
  appconfigservice/appconfig.yaml
  authservice/auth.yaml
  contributions/contribution.yaml
  eventservice/events.yaml
  loggingservice/logging.yaml
  profileservice/profile.yaml
Owners: @sandeep-ps, @wenjzhu, @ywkim312, @bingzhang

added GET for all_group_events
  eventservice/api/controllers/events.py
  eventservice/api/utils/group_auth.py
  eventservice/api/utils/query_params.py
Owners: @bingzhang

modified import
  eventservice/api/controllers/events.py
Owners: @bingzhang

modified import
  eventservice/api/controllers/events.py
Owners: @bingzhang

added delete option
  CHANGELOG.md
  eventservice/api/controllers/events.py
  eventservice/api/utils/query_params.py
Owners: @sandeep-ps, @bingzhang

fixed delete method
  eventservice/api/controllers/events.py
Owners: @bingzhang

added line to deal with comma separated file
  eventservice/api/utils/group_auth.py
Owners: @bingzhang

removed unused methods (#838)
  CHANGELOG.md
  contributions/api/utils/tokenutils.py
  profileservice/api/utils/tokenutils.py
Owners: @sandeep-ps, @ywkim312

removed exception statement being printed out
  eventservice/api/controllers/events.py
Owners: @bingzhang

added last line to changelog
  CHANGELOG.md
Owners: @sandeep-ps
