Repository rokwire/rokwire-building-blocks-api, changes with the owners that CODEOWNERS names for each.
All owners: @sandeep-ps, @wenjzhu, @ywkim312, @bingzhang

CODEOWNERS:

# Default assignment
*   @sandeep-ps

# App Config Building Block
/appconfigservice/  @wenjzhu

# Authentication Building Block
/authservice/  @wenjzhu

# Authentication Middleware Library
/lib/auth-middleware/   @ywkim312

# API Doc
/Dockerfile @sandeep-ps
/README @sandeep-ps

# Events Building Block
/eventservice/  @bingzhang

# Logging Building Block
/loggingservice/    @ywkim312

# Profile Building Block
/profileservice/    @ywkim312

# Contributions Building Block
/contributions/*    @ywkim312
/contributions/api/    @ywkim312

# Contributions Catalog
/contributions/catalog/    @wenjzhu

fixed login problems
  CHANGELOG.md
  contributions/catalog/catalog_rest_service.py
  contributions/catalog/webapps/templates/contribute/capability_details.html
  contributions/catalog/webapps/templates/contribute/contribute.html
  contributions/catalog/webapps/templates/contribute/contribution_details.html
  contributions/catalog/webapps/templates/contribute/error.html
  contributions/catalog/webapps/templates/contribute/home.html
  contributions/catalog/webapps/templates/contribute/submitted.html
  contributions/catalog/webapps/templates/contribute/talent_details.html
  contributions/catalog/webapps/templates/topnav.html
  contributions/catalog/webapps/templates/topnav_javascript.html
Owners: @sandeep-ps, @wenjzhu

Apply middleware changes for auth-building-block
  lib/auth-middleware/auth_middleware/__init__.py
  lib/auth-middleware/readme.md
Owners: @ywkim312

Fix Catalog release script.
  contributions/catalog/Dockerfile
  release_contributions_catalog.sh
Owners: @wenjzhu, @sandeep-ps

Update Catalog README.
  contributions/catalog/README.md
Owners: @wenjzhu

Update CHANGELOG.
  CHANGELOG.md
Owners: @sandeep-ps

Change default Catalog port to 5000 and make it configurable.
  .secrets.baseline
  CHANGELOG.md
  contributions/catalog/Dockerfile
  contributions/catalog/README.md
  contributions/catalog/catalog_rest_service.py
  contributions/catalog/controllers/config.py
  contributions/catalog/gunicorn.config.py
Owners: @sandeep-ps, @wenjzhu

Update README.
  contributions/catalog/README.md
Owners: @wenjzhu

Update README.
  contributions/catalog/README.md
Owners: @wenjzhu

Update README.
  contributions/catalog/README.md
Owners: @wenjzhu

Integrate with core bb
  lib/auth-middleware/auth_middleware/__init__.py
Owners: @ywkim312

split permissions string
  lib/auth-middleware/auth_middleware/__init__.py
  lib/auth-middleware/readme.md
Owners: @ywkim312

added endpoint for core building block search
  profileservice/api/controllers/profiles.py
  profileservice/profile.yaml
Owners: @ywkim312

Create SECURITY.md
  SECURITY.md
Owners: @sandeep-ps

Update README to use the new AWS CLI login command.
  contributions/catalog/README.md
Owners: @wenjzhu

Update release base script to include the new AWS CLI login command.
  release_base_script.sh
Owners: @sandeep-ps

update
  eventservice/Dockerfile
  eventservice/api/controllers/events.py
  eventservice/events.yaml
Owners: @bingzhang

change log
  CHANGELOG.md
Owners: @sandeep-ps

Add token check for api key auth
  lib/auth-middleware/auth_middleware/__init__.py
Owners: @ywkim312

Master to develop after 1 11.2 (#795)
  CHANGELOG.md
  eventservice/api/controllers/events.py
  eventservice/api/events_rest_service.py
Owners: @sandeep-ps, @bingzhang

wrote handler for core_search
  profileservice/api/controllers/profiles.py
  profileservice/api/utils/jsonutils.py
  profileservice/profile.yaml
Owners: @ywkim312

added redirection to contribuation details after posting
  contributions/catalog/controllers/contribute.py
  contributions/catalog/webapps/templates/contribute/error.html
Owners: @wenjzhu

Update PR fixes
  lib/auth-middleware/auth_middleware/__init__.py
Owners: @ywkim312

modified changelog
  CHANGELOG.md
Owners: @sandeep-ps

better error checking, added more query fields for testing
  profileservice/api/controllers/profiles.py
  profileservice/profile.yaml
Owners: @ywkim312

added core bb api key for core_search security
  profileservice/api/controllers/configs.py
  profileservice/api/controllers/profiles.py
  profileservice/api/utils/rest_handlers.py
Owners: @ywkim312

removed clientID and externalID params from core search
  profileservice/api/controllers/profiles.py
  profileservice/profile.yaml
Owners: @ywkim312

removed unnecessary type conversions
  profileservice/api/controllers/profiles.py
  profileservice/api/utils/mongoutils.py
Owners: @ywkim312

updated documentation, return success on zero or multiple profiles found
  profileservice/api/controllers/profiles.py
  profileservice/profile.yaml
Owners: @ywkim312

return empty string on single profile not found
  profileservice/api/controllers/profiles.py
Owners: @ywkim312

Refactor core token auth
  appconfigservice/appconfig.yaml
  eventservice/events.yaml
  lib/auth-middleware/auth_middleware/__init__.py
  loggingservice/logging.yaml
  profileservice/profile.yaml
Owners: @wenjzhu, @bingzhang, @ywkim312

fix reponses for core search
  profileservice/api/controllers/profiles.py
  profileservice/api/utils/rest_handlers.py
Owners: @ywkim312

Fix anonymous flag check
  lib/auth-middleware/auth_middleware/__init__.py
Owners: @ywkim312

Add core token auth security scheme
  appconfigservice/appconfig.yaml
  contributions/contribution.yaml
  eventservice/api/controllers/events.py
  eventservice/events.yaml
  lib/auth-middleware/auth_middleware/__init__.py
  loggingservice/logging.yaml
Owners: @wenjzhu, @ywkim312, @bingzhang

Remove debug comments
  lib/auth-middleware/auth_middleware/__init__.py
Owners: @ywkim312

Fix formatting
  appconfigservice/appconfig.yaml
Owners: @wenjzhu

More formatting fixes
  contributions/contribution.yaml
  eventservice/api/controllers/events.py
  eventservice/events.yaml
  loggingservice/logging.yaml
Owners: @ywkim312, @bingzhang

Fix line breaks in formatting
  appconfigservice/appconfig.yaml
  eventservice/events.yaml
  lib/auth-middleware/readme.md
  profileservice/profile.yaml
Owners: @wenjzhu, @bingzhang, @ywkim312

Undo line breaks
  lib/auth-middleware/auth_middleware/__init__.py
Owners: @ywkim312

Undo line breaks
  lib/auth-middleware/auth_middleware/__init__.py
  profileservice/profile.yaml
Owners: @ywkim312

set migrate date, NetID -> UIN
  profileservice/api/controllers/profiles.py
  profileservice/api/models/pii_data.py
  profileservice/api/utils/datasetutils.py
  profileservice/api/utils/mongoutils.py
  profileservice/profile.yaml
Owners: @ywkim312
