Repository rokwire/rokwire-building-blocks-api, changes with the owners that CODEOWNERS names for each.
All owners: @sandeep-ps, @wenjzhu, @ywkim312, @bingzhang

change position of sourceurl field
  contributions/catalog/webapps/templates/contribute/contribute.html
Owners: @wenjzhu

added source repo url
  contributions/api/models/capabilities/capability.py
  contributions/catalog/webapps/templates/contribute/capability_details.html
  contributions/catalog/webapps/templates/contribute/talent_details.html
  contributions/contribution.yaml
Owners: @ywkim312, @wenjzhu

updated capability with sourceRepoUrl
  contributions/api/models/capabilities/capability.py
Owners: @ywkim312

added sourceRepoUrl field
  contributions/catalog/webapps/templates/contribute/capability_details.html
Owners: @wenjzhu

added error message for 500 to logger (#841)
  CHANGELOG.md
  eventservice/api/controllers/events.py
  eventservice/api/controllers/messages.py
Owners: @sandeep-ps, @bingzhang

added source repo url in the post
  contributions/api/utils/datasetutils.py
  contributions/catalog/controllers/contribute.py
  contributions/catalog/models/capability_utilities.py
  contributions/catalog/webapps/templates/contribute/contribute.html
Owners: @ywkim312, @wenjzhu

added secure string comparison)
  CHANGELOG.md
  profileservice/api/controllers/profiles.py
Owners: @sandeep-ps, @ywkim312

changed onclick show hide function sourceRepoUrl
  contributions/catalog/webapps/templates/contribute/capability_details.html
  contributions/catalog/webapps/templates/contribute/contribute.html
Owners: @wenjzhu

reverted unnecessary comparison
  profileservice/api/controllers/profiles.py
Owners: @ywkim312

fixed typo
  contributions/api/utils/datasetutils.py
Owners: @ywkim312

added check if talent name field exists
  contributions/catalog/models/talent_utilities.py
Owners: @wenjzhu

added display of sourerepourl in edit page
  contributions/catalog/webapps/templates/contribute/contribute.html
Owners: @wenjzhu

added secure string comparison) (#851)
  CHANGELOG.md
  profileservice/api/controllers/profiles.py
Owners: @sandeep-ps, @ywkim312

updating default value for isOpenSource
  contributions/catalog/models/capability_utilities.py
Owners: @wenjzhu

updated changelog
  CHANGELOG.md
Owners: @sandeep-ps

Fix imageURL field name in Events BB Api Doc.
  eventservice/events.yaml
Owners: @bingzhang

Update CHANGELOG.md
  CHANGELOG.md
Owners: @sandeep-ps

changed value of isopensource
  contributions/catalog/models/capability_utilities.py
Owners: @wenjzhu

added explicit true condition for isopensource
  contributions/catalog/webapps/templates/contribute/contribute.html
Owners: @wenjzhu

removed ALL_EVENTS variables from event service's group auth
  eventservice/api/utils/group_auth.py
Owners: @bingzhang

removed all_event related code
  eventservice/api/controllers/events.py
  eventservice/api/utils/group_auth.py
Owners: @bingzhang

modified changelog
  CHANGELOG.md
Owners: @sandeep-ps

modified query param's format query
  eventservice/api/controllers/events.py
  eventservice/api/utils/query_params.py
Owners: @bingzhang

change comment
  eventservice/api/controllers/events.py
Owners: @bingzhang

changed comment
  eventservice/api/controllers/events.py
Owners: @bingzhang

847 fix event bb get delete for admin app (#849)
  CHANGELOG.md
  eventservice/api/controllers/events.py
  eventservice/api/utils/group_auth.py
  eventservice/api/utils/query_params.py
Owners: @sandeep-ps, @bingzhang

fixed radio button check in contribute edit
  contributions/catalog/webapps/templates/contribute/contribute.html
Owners: @wenjzhu

added review in contribution bb
  contributions/api/controllers/contributions.py
  contributions/api/models/contribution.py
  contributions/api/models/review.py
  contributions/api/utils/datasetutils.py
  contributions/api/utils/mongoutils.py
  contributions/contribution.yaml
Owners: @ywkim312

update to sourceRepoUrl field in capabilities
  contributions/catalog/models/capability_utilities.py
Owners: @wenjzhu

added explicit if statement
  contributions/catalog/models/capability_utilities.py
Owners: @wenjzhu

saving purpose
  contributions/api/controllers/contributions.py
  contributions/catalog/controllers/contribute.py
  contributions/catalog/utils/adminutil.py
  contributions/catalog/utils/requestutil.py
  contributions/catalog/webapps/templates/contribute/contribute.html
  contributions/catalog/webapps/templates/contribute/contribution_details.html
Owners: @ywkim312, @wenjzhu

working version
  contributions/catalog/controllers/contribute.py
  contributions/catalog/webapps/templates/contribute/contribution_details.html
Owners: @wenjzhu

updated yaml to include email
  contributions/contribution.yaml
Owners: @ywkim312

added reviewer email
  contributions/api/controllers/contributions.py
  contributions/api/models/reviewer.py
  contributions/api/utils/datasetutils.py
Owners: @ywkim312

814 create source repo url required conditionally (#820)
  CHANGELOG.md
  contributions/api/models/capabilities/capability.py
  contributions/api/utils/datasetutils.py
  contributions/catalog/controllers/contribute.py
  contributions/catalog/models/capability_utilities.py
  contributions/catalog/models/talent_utilities.py
  contributions/catalog/webapps/templates/contribute/capability_details.html
  contributions/catalog/webapps/templates/contribute/contribute.html
  contributions/catalog/webapps/templates/contribute/talent_details.html
  contributions/contribution.yaml
Owners: @sandeep-ps, @ywkim312, @wenjzhu

CODEOWNERS:

# Default assignment
*   @sandeep-ps

# App Config Building Block
/appconfigservice/  @wenjzhu

# Authentication Building Block
/authservice/  @wenjzhu

# Authentication Middleware Library
/lib/auth-middleware/   @ywkim312

# API Doc
/Dockerfile @sandeep-ps
/README @sandeep-ps

# Events Building Block
/eventservice/  @bingzhang

# Logging Building Block
/loggingservice/    @ywkim312

# Profile Building Block
/profileservice/    @ywkim312

# Contributions Building Block
/contributions/*    @ywkim312
/contributions/api/    @ywkim312

# Contributions Catalog
/contributions/catalog/    @wenjzhu
