Repository rokwire/rokwire-building-blocks-api, changes with the owners that CODEOWNERS names for each.
All owners: @sandeep-ps, @minump, @bingzhang

removed customized dropdown
  contributions/catalog/webapps/static/css/style.css
  contributions/catalog/webapps/templates/contribute/contribution_details.html
Owners: @minump

1066 review page UI changes (#1082)
  CHANGELOG.md
  contributions/catalog/webapps/static/css/style.css
  contributions/catalog/webapps/templates/contribute/contribution_details.html
Owners: @minump, @bingzhang, @sandeep-ps

removed closing div tag
  contributions/catalog/webapps/templates/contribute/contribute.html
Owners: @minump

added container class divs
  contributions/catalog/webapps/templates/contribute/contribute.html
Owners: @minump

updated changelog
  CHANGELOG.md
Owners: @minump, @bingzhang, @sandeep-ps

added div class col sm 10 for radio buttons
  contributions/catalog/webapps/templates/contribute/contribute.html
Owners: @minump

updated style for label
  contributions/catalog/webapps/static/css/style.css
Owners: @minump

added radio inline class
  contributions/catalog/webapps/templates/contribute/contribute.html
Owners: @minump

updated cursor pointer style
  contributions/catalog/webapps/static/css/style.css
Owners: @minump

input file style
  contributions/catalog/webapps/static/css/style.css
Owners: @minump

added checkbox inline style label
  contributions/catalog/webapps/templates/contribute/contribute.html
Owners: @minump

separated label and input
  contributions/catalog/webapps/templates/contribute/contribute.html
Owners: @minump

removed input class
  contributions/catalog/webapps/templates/contribute/contribute.html
Owners: @minump

added checkbox style
  contributions/catalog/webapps/static/css/style.css
Owners: @minump

added calendar hover style
  contributions/catalog/webapps/static/css/style.css
Owners: @minump

changes to nav breadcrumbs
  contributions/catalog/webapps/templates/contribute/contribute.html
Owners: @minump

added submit div href link to breadcrumb
  contributions/catalog/webapps/templates/contribute/contribute.html
Owners: @minump

added col sm 10 for vertical alignment in edit page
  contributions/catalog/webapps/templates/contribute/contribute.html
Owners: @minump

updated styling
  contributions/catalog/webapps/static/css/style.css
Owners: @minump

changed talent form edit page to match create page
  contributions/catalog/webapps/templates/contribute/contribute.html
Owners: @minump

updated changelog
  CHANGELOG.md
Owners: @minump, @bingzhang, @sandeep-ps

added bookshelf images
  contributions/catalog/webapps/static/bookshelf@1x.jpg
  contributions/catalog/webapps/static/bookshelf@2x.jpg
  contributions/catalog/webapps/static/bookshelf@3x.jpg
Owners: @minump

removed styles and changed class names
  contributions/catalog/webapps/templates/contribute/home.html
Owners: @minump

updated styles for cards
  contributions/catalog/webapps/static/css/style.css
Owners: @minump

updated changelog
  CHANGELOG.md
Owners: @minump, @bingzhang, @sandeep-ps

updated buttons in contribution details page
  contributions/catalog/webapps/templates/contribute/contribution_details.html
Owners: @minump

changed topnav buttons
  contributions/catalog/webapps/templates/topnav.html
Owners: @minump

topnav buton styles updated
  contributions/catalog/webapps/static/css/style.css
Owners: @minump

updated illinois home page url
  contributions/catalog/webapps/templates/topnav.html
Owners: @minump

deleted old home page
  contributions/catalog/webapps/templates/contribute/home.html.old
Owners: @minump

updated changelog
  CHANGELOG.md
Owners: @minump, @bingzhang, @sandeep-ps

Remove virtual environment.
  .github/workflows/detect-secrets.yaml
Owners: @sandeep-ps

Update .secrets.baseline
  .secrets.baseline
Owners: @sandeep-ps

Change scanning to staged files only.
  .github/workflows/detect-secrets.yaml
Owners: @sandeep-ps

Update baseline.
  .secrets.baseline
Owners: @sandeep-ps

Change scanning to all tracked files.
  .github/workflows/detect-secrets.yaml
Owners: @sandeep-ps

Update local dev requirements.
  requirements-dev.txt
Owners: @sandeep-ps

Update baseline.
  .secrets.baseline
Owners: @sandeep-ps

Update baseline.
  .secrets.baseline
Owners: @sandeep-ps

Update CHANGELOG.
  CHANGELOG.md
Owners: @minump, @bingzhang, @sandeep-ps

CODEOWNERS:

# Default assignment
* @sandeep-ps

# CHANGELOG
CHANGELOG.md @minump @bingzhang @sandeep-ps

# App Config Building Block
/appconfigservice/ @minump

# Authentication Middleware Library
/lib/auth-middleware/ @sandeep-ps

# API Doc
/Dockerfile @sandeep-ps
/README @sandeep-ps

# Events Building Block
/eventservice/ @bingzhang

# Logging Building Block
/loggingservice/ @sandeep-ps

# Profile Building Block
/profileservice/ @sandeep-ps

# Contributions Building Block
/contributions/* @minump
/contributions/api/ @minump

# Contributions Catalog
/contributions/catalog/ @minump
