Repository rokwire/rokwire-building-blocks-api, changes with the owners that CODEOWNERS names for each.
All owners: @sandeep-ps, @wenjzhu, @ywkim312, @bingzhang

Added contact details values in edit contribtuion page
  contributions/catalog/webapps/templates/contribute/contribute.html
Owners: @wenjzhu

code refactoring
  contributions/catalog/webapps/templates/base.html
  contributions/catalog/webapps/templates/contribute/home.html
  contributions/catalog/webapps/templates/contribute/topnav.html
Owners: @wenjzhu

resolved error of nonclosing tag
  contributions/catalog/webapps/static/css/centerwebsite.css
  contributions/catalog/webapps/static/js/topnav_javascript.js
  contributions/catalog/webapps/templates/contribute/contribute.html
  contributions/catalog/webapps/templates/contribute/topnav.html
Owners: @wenjzhu

extend base and resolving merge conflicts
  contributions/catalog/webapps/static/css/centerwebsite.css
  contributions/catalog/webapps/static/css/style.css
  contributions/catalog/webapps/static/js/topnav_javascript.js
  contributions/catalog/webapps/templates/base.html
  contributions/catalog/webapps/templates/contribute/capability_details.html
  contributions/catalog/webapps/templates/contribute/contribution_details.html
  contributions/catalog/webapps/templates/contribute/home.html
  contributions/catalog/webapps/templates/contribute/talent_details.html
Owners: @wenjzhu

not extended base in contribute
  contributions/catalog/webapps/templates/contribute/contribute.html
Owners: @wenjzhu

extending base in home
  contributions/catalog/webapps/static/js/topnav_javascript.js
  contributions/catalog/webapps/templates/base.html
  contributions/catalog/webapps/templates/contribute/capability_details.html
  contributions/catalog/webapps/templates/contribute/home.html
Owners: @wenjzhu

changed js and checked username
  contributions/catalog/webapps/static/js/topnav_javascript.js
  contributions/catalog/webapps/templates/base.html
  contributions/catalog/webapps/templates/contribute/capability_details.html
  contributions/catalog/webapps/templates/contribute/home.html
  contributions/catalog/webapps/templates/contribute/topnav.html
Owners: @wenjzhu

refactoring base and home and extending base to home
  contributions/catalog/webapps/static/css/bar.css
  contributions/catalog/webapps/static/css/home.css
  contributions/catalog/webapps/static/js/topnav.js
  contributions/catalog/webapps/templates/base.html
  contributions/catalog/webapps/templates/contribute/capability_details.html
  contributions/catalog/webapps/templates/contribute/contribute.html
  contributions/catalog/webapps/templates/contribute/contribution_details.html
  contributions/catalog/webapps/templates/contribute/home.html
  contributions/catalog/webapps/templates/contribute/talent_details.html
  contributions/catalog/webapps/templates/topnav.html
Owners: @wenjzhu

deleted metas block
  contributions/catalog/webapps/templates/base.html
  contributions/catalog/webapps/templates/contribute/home.html
Owners: @wenjzhu

Added more information to logs
  CHANGELOG.md
  eventservice/api/controllers/events.py
  eventservice/api/utils/jsonutils.py
  eventservice/api/utils/mongoutils.py
Owners: @sandeep-ps, @bingzhang

modified contribute to extend base
  contributions/catalog/webapps/templates/contribute/contribute.html
Owners: @wenjzhu

extended base to contribute
  contributions/catalog/webapps/templates/base.html
  contributions/catalog/webapps/templates/contribute/contribute.html
  contributions/catalog/webapps/templates/contribute/home.html
Owners: @wenjzhu

deleted whitespacing
  contributions/catalog/webapps/templates/base.html
Owners: @wenjzhu

extended base to contribution details
  contributions/catalog/webapps/templates/contribute/capability_details.html
  contributions/catalog/webapps/templates/contribute/contribute.html
  contributions/catalog/webapps/templates/contribute/contribution_details.html
Owners: @wenjzhu

changed the log's building block name
  eventservice/api/utils/jsonutils.py
Owners: @bingzhang

updated to use longDescription
  eventservice/README.md
  eventservice/api/utils/jsonutils.py
Owners: @bingzhang

initial test
  lib/auth-middleware/auth_middleware/__init__.py
Owners: @ywkim312

Task/790 modify contribution schema for required capabilities (#791)
  CHANGELOG.md
  contributions/api/controllers/contributions.py
  contributions/api/models/capabilities/capability.py
  contributions/api/models/contact.py
  contributions/api/models/contribution.py
  contributions/api/models/talents/requiredcapability.py
  contributions/api/utils/datasetutils.py
  contributions/api/utils/modelutils.py
  contributions/catalog/controllers/contribute.py
  contributions/catalog/models/capability_utilities.py
  contributions/catalog/models/contribution_utilities.py
  contributions/catalog/models/talent_utilities.py
  contributions/catalog/utils/requestutil.py
  contributions/catalog/webapps/templates/contribute/contribute.html
  contributions/catalog/webapps/templates/contribute/contribution_details.html
  contributions/contribution.yaml
Owners: @sandeep-ps, @ywkim312, @wenjzhu

Fix line number.
  .secrets.baseline
Owners: @sandeep-ps

Remove blank space.
  CHANGELOG.md
Owners: @sandeep-ps

Move CHANGELOG entry to existing section.
  CHANGELOG.md
Owners: @sandeep-ps

788 make contributions catalog port configurable (#802)
  .secrets.baseline
  CHANGELOG.md
  contributions/catalog/Dockerfile
  contributions/catalog/README.md
  contributions/catalog/catalog_rest_service.py
  contributions/catalog/controllers/config.py
  contributions/catalog/gunicorn.config.py
Owners: @sandeep-ps, @wenjzhu

Create SECURITY.md (#805)
  CHANGELOG.md
  SECURITY.md
Owners: @sandeep-ps

extending base to all webpages
  contributions/catalog/webapps/templates/auth/500_error.html
  contributions/catalog/webapps/templates/base.html
  contributions/catalog/webapps/templates/contribute/error.html
  contributions/catalog/webapps/templates/contribute/results.html
  contributions/catalog/webapps/templates/contribute/submitted.html
  contributions/catalog/webapps/templates/contribute/talent_details.html
  contributions/catalog/webapps/templates/topnav_javascript.html
Owners: @wenjzhu

deleted unwanted comment
  contributions/catalog/webapps/static/js/home_start.js
  contributions/catalog/webapps/templates/base.html
  contributions/catalog/webapps/templates/contribute/topnav.html
Owners: @wenjzhu

deleted unwanted comment
  contributions/catalog/webapps/templates/base.html
Owners: @wenjzhu

made post to work
  lib/auth-middleware/auth_middleware/__init__.py
Owners: @ywkim312

updated changelog
  CHANGELOG.md
Owners: @sandeep-ps

removed unnecessary lines
  lib/auth-middleware/auth_middleware/__init__.py
Owners: @ywkim312

Minor changes.
  lib/auth-middleware/auth_middleware/__init__.py
Owners: @ywkim312

Groups membership request in Events BB. Update CHANGELOG.
  CHANGELOG.md
  eventservice/api/controllers/configs.py
  eventservice/api/utils/group_auth.py
Owners: @sandeep-ps, @bingzhang

Update CHANGELOG.
  CHANGELOG.md
Owners: @sandeep-ps

evnets bb version endpoint (#806)
  CHANGELOG.md
  eventservice/Dockerfile
  eventservice/api/controllers/events.py
  eventservice/events.yaml
Owners: @sandeep-ps, @bingzhang

823 bring back rokwire issuer to auth middleware lib (#829)
  CHANGELOG.md
  eventservice/api/controllers/configs.py
  eventservice/api/utils/group_auth.py
  lib/auth-middleware/auth_middleware/__init__.py
Owners: @sandeep-ps, @bingzhang, @ywkim312

Changes for merging to develop branch.
  CHANGELOG.md
  Dockerfile
  contributions/catalog/requirements.txt
Owners: @sandeep-ps, @wenjzhu

Update CHANGELOG.
  CHANGELOG.md
Owners: @sandeep-ps

Fix CHANGELOG.
  CHANGELOG.md
Owners: @sandeep-ps

Master to develop after 1.11.3 (#830)
  CHANGELOG.md
  eventservice/README.md
  eventservice/api/controllers/events.py
  eventservice/api/utils/jsonutils.py
  eventservice/api/utils/mongoutils.py
Owners: @sandeep-ps, @bingzhang

Update CHANGELOG and verson numbers.
  CHANGELOG.md
  appconfigservice/appconfig.yaml
  authservice/auth.yaml
  contributions/contribution.yaml
  eventservice/events.yaml
  loggingservice/logging.yaml
  profileservice/profile.yaml
Owners: @sandeep-ps, @wenjzhu, @ywkim312, @bingzhang

Update API Doc Dockerfile.
  Dockerfile
Owners: @sandeep-ps

CODEOWNERS:

# Default assignment
*   @sandeep-ps

# App Config Building Block
/appconfigservice/  @wenjzhu

# Authentication Building Block
/authservice/  @wenjzhu

# Authentication Middleware Library
/lib/auth-middleware/   @ywkim312

# API Doc
/Dockerfile @sandeep-ps
/README @sandeep-ps

# Events Building Block
/eventservice/  @bingzhang

# Logging Building Block
/loggingservice/    @ywkim312

# Profile Building Block
/profileservice/    @ywkim312

# Contributions Building Block
/contributions/*    @ywkim312
/contributions/api/    @ywkim312

# Contributions Catalog
/contributions/catalog/    @wenjzhu
