Repository rokwire/rokwire-building-blocks-api, changes with the owners that CODEOWNERS names for each.
All owners: @sandeep-ps, @wenjzhu, @ywkim312, @bingzhang

CODEOWNERS:

# Default assignment
*   @sandeep-ps

# App Config Building Block
/appconfigservice/  @wenjzhu

# Authentication Building Block
/authservice/  @wenjzhu

# Authentication Middleware Library
/lib/auth-middleware/   @ywkim312

# API Doc
/Dockerfile @sandeep-ps
/README @sandeep-ps

# Events Building Block
/eventservice/  @bingzhang

# Logging Building Block
/loggingservice/    @ywkim312

# Profile Building Block
/profileservice/    @ywkim312

# Contributions Building Block
/contributions/*    @ywkim312
/contributions/api/    @ywkim312

# Contributions Catalog
/contributions/catalog/    @wenjzhu

Skip groups building block for anonymous tokens
  eventservice/api/utils/group_auth.py
Owners: @bingzhang

Skip groups building block for anonymous tokens
  eventservice/api/utils/group_auth.py
Owners: @bingzhang

Added gittag in config
  contributions/catalog/Dockerfile
  contributions/catalog/catalog_rest_service.py
  contributions/catalog/controllers/config.py
  contributions/catalog/controllers/contribute.py
  contributions/catalog/webapps/templates/contribute/home.html
Owners: @wenjzhu

moved js from home
  contributions/catalog/webapps/static/js/start_home.js
  contributions/catalog/webapps/templates/base.html
  contributions/catalog/webapps/templates/contribute/home.html
Owners: @wenjzhu

Moved js from contribute
  contributions/catalog/webapps/static/js/contribute_data_validation.js
  contributions/catalog/webapps/static/js/home_start.js
  contributions/catalog/webapps/templates/base.html
  contributions/catalog/webapps/templates/contribute/contribute.html
  contributions/catalog/webapps/templates/contribute/home.html
Owners: @wenjzhu

Changes to contribute html
  contributions/catalog/webapps/templates/contribute/contribute.html
Owners: @wenjzhu

initial commit
  contributions/catalog/controllers/contribute.py
  contributions/catalog/utils/jsonutil.py
  contributions/catalog/webapps/templates/contribute/contribute.html
  contributions/catalog/webapps/templates/contribute/reviewers.html
  contributions/catalog/webapps/templates/head.html
  contributions/catalog/webapps/templates/style.html
Owners: @wenjzhu

[ID-808] [FEATURE] Core BB auth support (#813)
  CHANGELOG.md
  appconfigservice/appconfig.yaml
  appconfigservice/requirements.txt
  auth-middleware-test-svc/requirements.txt
  authservice/requirements.txt
  contributions/requirements.txt
  eventservice/api/controllers/configs.py
  eventservice/api/utils/group_auth.py
  eventservice/events.yaml
  eventservice/requirements.txt
  lib/auth-middleware/auth_middleware/__init__.py
  lib/auth-middleware/readme.md
  loggingservice/logging.yaml
  loggingservice/requirements.txt
  profileservice/profile.yaml
  profileservice/requirements.txt
Owners: @sandeep-ps, @wenjzhu, @ywkim312, @bingzhang

TODO in contribute html
  contributions/catalog/Dockerfile
  contributions/catalog/webapps/templates/contribute/contribute.html
Owners: @wenjzhu

Update CHANGELOG.md
  CHANGELOG.md
Owners: @sandeep-ps

modified changelog
  CHANGELOG.md
Owners: @sandeep-ps

fixed changelog entries' location
  CHANGELOG.md
Owners: @sandeep-ps

gittag and gitsha as docker build args
  contributions/Dockerfile
  contributions/catalog/catalog_rest_service.py
  contributions/catalog/controllers/contribute.py
  contributions/catalog/webapps/templates/contribute/home.html
  release_contributions_catalog.sh
Owners: @ywkim312, @wenjzhu, @sandeep-ps

GIT_TAG and GIT_SHA name change
  contributions/Dockerfile
  release_contributions_catalog.sh
Owners: @ywkim312, @sandeep-ps

changes to dockerfile and release script
  .secrets.baseline
  contributions/Dockerfile
  contributions/catalog/Dockerfile
  release_app_config.sh
  release_contributions.sh
  release_contributions_catalog.sh
Owners: @sandeep-ps, @ywkim312, @wenjzhu

fixed login problems (#797)
  CHANGELOG.md
  contributions/catalog/catalog_rest_service.py
  contributions/catalog/webapps/templates/contribute/capability_details.html
  contributions/catalog/webapps/templates/contribute/contribute.html
  contributions/catalog/webapps/templates/contribute/contribution_details.html
  contributions/catalog/webapps/templates/contribute/error.html
  contributions/catalog/webapps/templates/contribute/home.html
  contributions/catalog/webapps/templates/contribute/submitted.html
  contributions/catalog/webapps/templates/contribute/talent_details.html
  contributions/catalog/webapps/templates/topnav.html
  contributions/catalog/webapps/templates/topnav_javascript.html
Owners: @sandeep-ps, @wenjzhu

787 fix catalog release script (#801)
  CHANGELOG.md
  contributions/catalog/Dockerfile
  contributions/catalog/README.md
  release_base_script.sh
  release_contributions_catalog.sh
Owners: @sandeep-ps, @wenjzhu

Added catalog release script
  release_contributions_catalog.sh
Owners: @sandeep-ps

added gitinfo
  contributions/catalog/catalog_rest_service.py
  contributions/catalog/controllers/contribute.py
  release_contributions_catalog.sh
Owners: @wenjzhu, @sandeep-ps

uncommented release base script
  release_contributions_catalog.sh
Owners: @sandeep-ps

updated sourceurl field to hidden when required
  contributions/catalog/webapps/templates/contribute/contribute.html
Owners: @wenjzhu

Update login callback URL.
  CHANGELOG.md
  contributions/catalog/catalog_rest_service.py
Owners: @sandeep-ps, @wenjzhu

updated changelog for version and gitsha to footer
  CHANGELOG.md
Owners: @sandeep-ps

deleted git tag and release from config
  contributions/catalog/controllers/config.py
Owners: @wenjzhu

UI changes and pep8 styling
  contributions/Dockerfile
  contributions/catalog/catalog_rest_service.py
  contributions/catalog/controllers/contribute.py
  contributions/catalog/webapps/templates/contribute/home.html
Owners: @ywkim312, @wenjzhu

deleted white space
  contributions/catalog/catalog_rest_service.py
Owners: @wenjzhu

added pep8 styling changes
  contributions/catalog/controllers/contribute.py
Owners: @wenjzhu

pep8 styling
  contributions/catalog/controllers/contribute.py
Owners: @wenjzhu

deleted white space
  release_contributions_catalog.sh
Owners: @sandeep-ps

pep8 styling
  release_contributions_catalog.sh
Owners: @sandeep-ps

updated source url field to show and hide onclick radio button
  contributions/catalog/webapps/templates/contribute/contribute.html
Owners: @wenjzhu

added source repo url field UI changes
  CHANGELOG.md
Owners: @sandeep-ps

deleted unwanted comments
  contributions/catalog/webapps/templates/contribute/contribute.html
Owners: @wenjzhu

added accidental deleted entry.
  CHANGELOG.md
Owners: @sandeep-ps

770 add footer contributions catalog (#792)
  .secrets.baseline
  CHANGELOG.md
  contributions/catalog/Dockerfile
  contributions/catalog/catalog_rest_service.py
  contributions/catalog/controllers/contribute.py
  contributions/catalog/webapps/templates/contribute/home.html
  release_app_config.sh
  release_contributions.sh
  release_contributions_catalog.sh
Owners: @sandeep-ps, @wenjzhu

modified changelog
  CHANGELOG.md
Owners: @sandeep-ps

modified changelog by adding space
  CHANGELOG.md
Owners: @sandeep-ps

fixed contact information iteration
  contributions/catalog/webapps/templates/contribute/contribution_details.html
Owners: @wenjzhu

fixed indentation in contribution_details.html
  contributions/catalog/webapps/templates/contribute/contribution_details.html
Owners: @wenjzhu

fixed mismatched tags in contribute.html
  contributions/catalog/webapps/templates/contribute/contribute.html
Owners: @wenjzhu
