Repository rokwire/rokwire-building-blocks-api, changes with the owners that CODEOWNERS names for each.
All owners: @sandeep-ps, @wenjzhu, @ywkim312, @bingzhang

CODEOWNERS:

# Default assignment
*   @sandeep-ps

# App Config Building Block
/appconfigservice/  @wenjzhu

# Authentication Building Block
/authservice/  @wenjzhu

# Authentication Middleware Library
/lib/auth-middleware/   @ywkim312

# API Doc
/Dockerfile @sandeep-ps
/README @sandeep-ps

# Events Building Block
/eventservice/  @bingzhang

# Logging Building Block
/loggingservice/    @ywkim312

# Profile Building Block
/profileservice/    @ywkim312

# Contributions Building Block
/contributions/*    @ywkim312
/contributions/api/    @ywkim312

# Contributions Catalog
/contributions/catalog/    @wenjzhu

Fix catalog requirements.txt
  contributions/catalog/requirements.txt
Owners: @wenjzhu

Update API Doc Dockerfile to point to DEV environment.
  Dockerfile
Owners: @sandeep-ps

group auth to post image
  CHANGELOG.md
  eventservice/api/controllers/events.py
Owners: @sandeep-ps, @bingzhang

fix get endpoint
  eventservice/api/controllers/events.py
Owners: @bingzhang

update changelog
  CHANGELOG.md
Owners: @sandeep-ps

Master to develop after 1.11.0 (#739)
  CHANGELOG.md
  appconfigservice/appconfig.yaml
  authservice/auth.yaml
  contributions/contribution.yaml
  eventservice/events.yaml
  loggingservice/logging.yaml
  profileservice/profile.yaml
Owners: @sandeep-ps, @wenjzhu, @ywkim312, @bingzhang

update
  CHANGELOG.md
Owners: @sandeep-ps

746 fix get endpoint with user auth key (#748)
  CHANGELOG.md
  eventservice/api/controllers/events.py
Owners: @sandeep-ps, @bingzhang

Added the permission check for edit
  contributions/api/utils/mongoutils.py
  contributions/catalog/controllers/contribute.py
  contributions/catalog/utils/adminutil.py
  contributions/catalog/webapps/templates/contribute/contribute.html
  contributions/catalog/webapps/templates/contribute/contribution_details.html
Owners: @ywkim312, @wenjzhu

turn off group authentication on image get endpoint
  CHANGELOG.md
  eventservice/api/controllers/events.py
Owners: @sandeep-ps, @bingzhang

turn off group authentication on image get endpoint
  CHANGELOG.md
Owners: @sandeep-ps

Update API Doc Dockerfile.
  Dockerfile
Owners: @sandeep-ps

Fix Catalog requirements.txt
  contributions/catalog/requirements.txt
Owners: @wenjzhu

Master to develop after 1.11.1 (#753)
  CHANGELOG.md
  eventservice/api/controllers/events.py
Owners: @sandeep-ps, @bingzhang

649 update pre commit config (#702)
  .github/workflows/detect-secrets.yaml
  .pre-commit-config.yaml
  .secrets.baseline
  CHANGELOG.md
  README.md
  requirements-dev.txt
Owners: @sandeep-ps

Edits for /ok endpoint
  CHANGELOG.md
  appconfigservice/api/controllers/app.py
  appconfigservice/appconfig.yaml
Owners: @sandeep-ps, @wenjzhu

Updated Changelog.md to reflect /ok endpoint
  CHANGELOG.md
Owners: @sandeep-ps

commit for saving purpose
  contributions/catalog/catalog_rest_service.py
  contributions/catalog/controllers/contribute.py
  contributions/catalog/utils/jsonutil.py
  contributions/catalog/webapps/templates/contribute/contribute.html
Owners: @wenjzhu

finished initial edit
  contributions/catalog/catalog_rest_service.py
  contributions/catalog/controllers/contribute.py
  contributions/catalog/webapps/templates/contribute/contribute.html
Owners: @wenjzhu

changed changelog
  CHANGELOG.md
Owners: @sandeep-ps

added edit button show/hide option
  contributions/catalog/controllers/contribute.py
  contributions/catalog/webapps/templates/contribute/contribute.html
  contributions/catalog/webapps/templates/contribute/contribution_details.html
Owners: @wenjzhu

modified changelog
  CHANGELOG.md
Owners: @sandeep-ps

saving purpose
  CHANGELOG.md
  contributions/catalog/catalog_rest_service.py
  contributions/catalog/utils/jsonutil.py
  contributions/catalog/utils/requestutil.py
  contributions/catalog/webapps/templates/contribute/home.old.html
Owners: @sandeep-ps, @wenjzhu

changed error message
  contributions/catalog/controllers/contribute.py
Owners: @wenjzhu

modified changelog
  CHANGELOG.md
Owners: @sandeep-ps

changed changelog
  CHANGELOG.md
Owners: @sandeep-ps

saving purpose
  contributions/catalog/catalog_rest_service.py
  contributions/catalog/webapps/templates/contribute/home.html
Owners: @wenjzhu

removed unnecessary filter
  contributions/catalog/catalog_rest_service.py
Owners: @wenjzhu

modified submission message
  contributions/catalog/webapps/templates/contribute/contribute.html
Owners: @wenjzhu

Bugfix/714 catalog should give proper error message in posting (#727)
  CHANGELOG.md
  contributions/catalog/controllers/contribute.py
  contributions/catalog/webapps/templates/contribute/contribute.html
Owners: @sandeep-ps, @wenjzhu

saving purpose
  contributions/catalog/catalog_rest_service.py
Owners: @wenjzhu

removed unnecessary filter
  contributions/catalog/catalog_rest_service.py
Owners: @wenjzhu

saving purpose
  contributions/catalog/catalog_rest_service.py
  contributions/catalog/controllers/contribute.py
Owners: @wenjzhu

removed test codes
  contributions/catalog/controllers/contribute.py
Owners: @wenjzhu

added ability to show the published contribution without login
  contributions/catalog/catalog_rest_service.py
  contributions/catalog/controllers/contribute.py
  contributions/catalog/utils/jsonutil.py
  contributions/catalog/webapps/templates/contribute/home.html
  contributions/catalog/webapps/templates/contribute/home.html.new
Owners: @wenjzhu

modified changelog
  CHANGELOG.md
Owners: @sandeep-ps

Task/721 make contribution admin to see all items (#731)
  CHANGELOG.md
  contributions/api/controllers/contributions.py
  contributions/api/utils/mongoutils.py
  contributions/catalog/controllers/contribute.py
  contributions/catalog/utils/jsonutil.py
  contributions/catalog/webapps/templates/contribute/contribution_details.html
  contributions/contribution.yaml
Owners: @sandeep-ps, @ywkim312, @wenjzhu

updated requirements
  contributions/catalog/requirements.txt
Owners: @wenjzhu

fixed errors by merging other branches
  contributions/catalog/controllers/contribute.py
  contributions/catalog/webapps/templates/contribute/contribution_details.html
Owners: @wenjzhu

Task/737 create contribution edit page (#769)
  CHANGELOG.md
  contributions/catalog/catalog_rest_service.py
  contributions/catalog/controllers/contribute.py
  contributions/catalog/requirements.txt
  contributions/catalog/utils/adminutil.py
  contributions/catalog/utils/jsonutil.py
  contributions/catalog/webapps/templates/contribute/contribute.html
  contributions/catalog/webapps/templates/contribute/contribution_details.html
Owners: @sandeep-ps, @wenjzhu
