Repository rokwire/rokwire-building-blocks-api, changes with the owners that CODEOWNERS names for each.
All owners: @sandeep-ps, @wenjzhu, @ywkim312, @bingzhang

CODEOWNERS:

# Default assignment
*   @sandeep-ps

# App Config Building Block
/appconfigservice/  @wenjzhu

# Authentication Building Block
/authservice/  @wenjzhu

# Authentication Middleware Library
/lib/auth-middleware/   @ywkim312

# API Doc
/Dockerfile @sandeep-ps
/README @sandeep-ps

# Events Building Block
/eventservice/  @bingzhang

# Logging Building Block
/loggingservice/    @ywkim312

# Profile Building Block
/profileservice/    @ywkim312

# Contributions Building Block
/contributions/*    @ywkim312
/contributions/api/    @ywkim312

# Contributions Catalog
/contributions/catalog/    @wenjzhu

add default value to variable
  contributions/catalog/controllers/contribute.py
Owners: @wenjzhu

Task/767 catalog should show published capability and talent (#776)
  CHANGELOG.md
  contributions/catalog/catalog_rest_service.py
  contributions/catalog/controllers/contribute.py
  contributions/catalog/utils/jsonutil.py
  contributions/catalog/utils/requestutil.py
  contributions/catalog/webapps/templates/contribute/capability_details.html
  contributions/catalog/webapps/templates/contribute/contribution_details.html
  contributions/catalog/webapps/templates/contribute/home.html.old
Owners: @sandeep-ps, @wenjzhu

fixed hard coded url
  CHANGELOG.md
  contributions/catalog/controllers/config.py
  contributions/catalog/webapps/templates/contribute/home.html
Owners: @sandeep-ps, @wenjzhu

Use a default URL prefix.
  contributions/catalog/controllers/config.py
Owners: @wenjzhu

Use prefix in blueprint. Update base URL for some pages.
  contributions/catalog/controllers/contribute.py
Owners: @wenjzhu

Remove hardcoded references to pages.
  contributions/catalog/webapps/templates/contribute/home.html
Owners: @wenjzhu

Remove CATALOG_BASE_URL env variable.
  contributions/catalog/controllers/config.py
Owners: @wenjzhu

Fix Edit Contribution link.
  contributions/catalog/webapps/templates/contribute/contribution_details.html
Owners: @wenjzhu

fixed hard coded url (#781)
  CHANGELOG.md
  contributions/catalog/controllers/config.py
  contributions/catalog/controllers/contribute.py
  contributions/catalog/webapps/templates/contribute/contribution_details.html
  contributions/catalog/webapps/templates/contribute/home.html
Owners: @sandeep-ps, @wenjzhu

Reduce redirect. Show logged in user's name in the home page.
  contributions/catalog/catalog_rest_service.py
Owners: @wenjzhu

Add user info endpoint to config.py.
  contributions/catalog/controllers/config.py
Owners: @wenjzhu

Update CHANGELOG.
  CHANGELOG.md
Owners: @sandeep-ps

782 catalog bug fixes (#783)
  CHANGELOG.md
  contributions/catalog/catalog_rest_service.py
  contributions/catalog/controllers/config.py
  contributions/catalog/controllers/contribute.py
Owners: @sandeep-ps, @wenjzhu

Add Catalog release script and change default port and URL prefix.
  CHANGELOG.md
  contributions/catalog/Dockerfile
  contributions/catalog/gunicorn.config.py
  release_contributions_catalog.sh
Owners: @sandeep-ps, @wenjzhu

Update release_contributions_catalog.sh
  release_contributions_catalog.sh
Owners: @sandeep-ps

Add Catalog release script and change default port and URL prefix. (#785)
  CHANGELOG.md
  contributions/catalog/Dockerfile
  contributions/catalog/gunicorn.config.py
  release_contributions_catalog.sh
Owners: @sandeep-ps, @wenjzhu

Added ok endpoint to CHANGELOG
  CHANGELOG.md
Owners: @sandeep-ps

Added ok endpoint to changelog
  CHANGELOG.md
Owners: @sandeep-ps

Added version endpoint in Appconfig
  appconfigservice/api/controllers/app.py
  appconfigservice/appconfig.yaml
Owners: @wenjzhu

Updated CHANGELOG
  CHANGELOG.md
Owners: @sandeep-ps

Edits for /ok endpoint (#761)
  CHANGELOG.md
  appconfigservice/api/controllers/app.py
  appconfigservice/appconfig.yaml
Owners: @sandeep-ps, @wenjzhu

modified required capability schema
  contributions/api/controllers/contributions.py
  contributions/api/models/talents/requiredcapability.py
  contributions/api/utils/datasetutils.py
  contributions/api/utils/modelutils.py
  contributions/catalog/controllers/contribute.py
  contributions/catalog/utils/requestutil.py
  contributions/catalog/webapps/templates/contribute/contribute.html
  contributions/contribution.yaml
Owners: @ywkim312, @wenjzhu

Changed version endpoint response type
  appconfigservice/appconfig.yaml
Owners: @wenjzhu

added response type version endpoint
  appconfigservice/appconfig.yaml
Owners: @wenjzhu

added response type for version endpoint
  appconfigservice/appconfig.yaml
Owners: @wenjzhu

Changed yaml relative path
  appconfigservice/api/controllers/app.py
Owners: @wenjzhu

Work in progress saving purpose
  contributions/catalog/models/talent_utilities.py
  contributions/catalog/utils/requestutil.py
  contributions/catalog/webapps/templates/contribute/contribute.html
  contributions/contribution.yaml
Owners: @wenjzhu, @ywkim312

implement footer in home.html
  contributions/catalog/catalog_rest_service.py
  contributions/catalog/requirements.txt
  contributions/catalog/webapps/templates/contribute/home.html
Owners: @wenjzhu

updated changelog
  CHANGELOG.md
  contributions/catalog/catalog_rest_service.py
Owners: @sandeep-ps, @wenjzhu

Update Events Building Block logs and related configuration.
  eventservice/api/controllers/events.py
  eventservice/api/events_rest_service.py
Owners: @bingzhang

Update CHANGELOG.
  CHANGELOG.md
Owners: @sandeep-ps

Update CHANGELOG.
  CHANGELOG.md
Owners: @sandeep-ps

Update Dockerfile.
  Dockerfile
Owners: @sandeep-ps

Fix requirements.txt
  contributions/catalog/requirements.txt
Owners: @wenjzhu

Fixed issues in adding footer
  contributions/catalog/controllers/contribute.py
  contributions/catalog/webapps/templates/contribute/home.html
Owners: @wenjzhu

deleted comment in home.html
  contributions/catalog/webapps/templates/contribute/home.html
Owners: @wenjzhu

Update contributions/catalog/webapps/templates/contribute/home.html
  contributions/catalog/webapps/templates/contribute/home.html
Owners: @wenjzhu

resolved conflicts in changelog
  CHANGELOG.md
Owners: @sandeep-ps

updating changes for docker
  appconfigservice/Dockerfile
  appconfigservice/api/controllers/app.py
Owners: @wenjzhu

760 add version endpoint appconfig (#789)
  CHANGELOG.md
  appconfigservice/Dockerfile
  appconfigservice/api/controllers/app.py
  appconfigservice/appconfig.yaml
Owners: @sandeep-ps, @wenjzhu
